body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: aquamarine;
}
#board{
    width: 600px;
    height: 600px;
    background-color: green;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    background: url(toprak.png);
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div{
    width: 180px;
    height: 180px;
    background: url(boru.png);
    background-size: cover;
}

#board div img{
    width: 100px;
    height: 100px;
}
button{
    margin-bottom: 5px;
    font-size: 17px;
}

#lives img{
    width: 30px;
    height: 30px;
}

p{
    font-size: 16px;
    color: red;
    font: bolder;
}